@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.prose-sm{
   :where(h1):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 0;
    margin-bottom: .4em;
  }
  :where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: .8em;
    margin-bottom: .2em; 
  }
  :where(h3):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: .6em;
    margin-bottom: .2em;
  }
  :where(p):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: .2em;
    margin-bottom: .2em;
  }
  :where(ul):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: .2em;
    margin-bottom: .2em;
  }
  :where(ol):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: .2em;
    margin-bottom: .2em;
  }
  :where(li):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: .2em;
    margin-bottom: .2em;
  }
}